<div class="container">
    <br>
    <h1 class="panel-title-style text-center display-4">Panel Administración</h1>
    <br>
    <div class="card border-primary col-md-12">
        <h5 class="card-header border-primary">Usuarios</h5>
        <div class="card-body">
            <h5 class="card-title">Administración de Usuarios</h5>
            <p class="card-text">Espacio para administrar todo lo relacionado a los usuarios.</p>
            <a routerLink="usuario/administracion-usuario" class="btn btn-primary">Administrar</a>
        </div>
    </div>
    <br>
    <div class="card border-primary col-md-12">
        <h5 class="card-header border-primary">Facultades</h5>
        <div class="card-body">
            <h5 class="card-title">Administración de Facultades</h5>
            <p class="card-text">Espacio para administrar todo lo relacionado a las facultades.</p>
            <a routerLink="facultad/administracion-facultad" class="btn btn-primary">Administrar</a>
        </div>
    </div>
    <br>
    <div class="card border-primary col-md-12">
        <h5 class="card-header border-primary">Carreras</h5>
        <div class="card-body">
            <h5 class="card-title">Administración de Carreras</h5>
            <p class="card-text">Espacio para administrar todo lo relacionado a las carreras.</p>
            <a routerLink="carrera/administracion-carrera" class="btn btn-primary">Administrar</a>
        </div>
    </div>
    <br>
    <div class="card border-primary col-md-12">
        <h5 class="card-header border-primary">Ciencias</h5>
        <div class="card-body">
            <h5 class="card-title">Administración de Ciencias</h5>
            <p class="card-text">Espacio para administrar todo lo relacionado a las ciencias.</p>
            <a routerLink="ciencia/administracion-ciencia" class="btn btn-primary">Administrar</a>
        </div>
    </div>
    <br>
    <div class="card border-primary col-md-12">
        <h5 class="card-header border-primary">Roles</h5>
        <div class="card-body">
            <h5 class="card-title">Administración de Roles</h5>
            <p class="card-text">Espacio para administrar todo lo relacionado a los roles del sistema.</p>
            <a routerLink="rol/administracion-rol" class="btn btn-primary">Administrar</a>
        </div>
    </div>
    <br>
</div>

