<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        <img src="../../assets/system/usaclogo.png" width="40" height="40" class="d-inline-block align-top" alt="">
        Comunity USAC
    </a>
    <button class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarSupportedContent"> 
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <ng-container *ngIf = "sessionStorage.retrieve('usr')">
                        <ng-container *ngIf = "sessionStorage.retrieve('usr').rol != 8">
                            <a class="nav-link text-white" href = "comunity-usac/comun/perfil">Perfil</a>
                        </ng-container>
                </ng-container>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a [hidden] = "!sessionStorage.retrieve('usr')" class="nav-link text-white" [routerLink] = "" (click) = "cerrarSesion()">Cerrar Sesión</a>
            </li>
        </ul>
    </div>
</nav>