<div class="container">
    <br>
    <h1 class="panel-title-style text-center display-4">Panel Administración</h1>
    <br>
    <div class="card border-primary col-md-12">
        <h5 class="card-header border-primary">Facultades</h5>
        <div class="card-body">
            <h5 class="card-title">Administración de Facultades</h5>
            <p class="card-text">Espacio para administrar todo lo relacionado a las facultades.</p>
            <a routerLink="administracion-facultad" class="btn btn-primary">Administrar</a>
        </div>
    </div>
    <br>
    <div class="card border-primary col-md-12">
        <h5 class="card-header border-primary">Carreras</h5>
        <div class="card-body">
            <h5 class="card-title">Administración de Carreras</h5>
            <p class="card-text">Espacio para administrar todo lo relacionado a las carreras.</p>
            <a routerLink="administracion-carrera" class="btn btn-primary">Administrar</a>
        </div>
    </div>
    <br>
    <div class="card border-primary col-md-12">
        <h5 class="card-header border-primary">Roles</h5>
        <div class="card-body">
            <h5 class="card-title">Administración de Roles</h5>
            <p class="card-text">Espacio para administrar todo lo relacionado a los roles del sistema.</p>
            <a routerLink="administracion-rol" class="btn btn-primary">Administrar</a>
        </div>
    </div>
    <br>
</div>

