
<br>
<div class="container">
    <h1 class="panel-title-style text-center display-4">Iniciar Sesión</h1>
    <ng-container *ngIf = 'error'>
        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-10">
                <div class="alert alert-danger" role="alert">
                    Error al iniciar sesión
                </div>
            </div>
        </div>
    </ng-container>
    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-10">
            <div class="form-group">
                <label>Registro</label>
                <input [(ngModel)]="registro" type="number" class="form-control" placeholder="Registro">
            </div> 
            <div class="form-group">
                <label>Contraseña</label>
                <input [(ngModel)]="contrasenia" type="password" class="form-control" placeholder="Contraseña">
            </div> 
            <div class="form-group">
                <label>Rol</label>
                <select #frol class="form-control">
                    <ng-container *ngFor = 'let _rol of roles$'>
                        <option value="{{ _rol.codigo }}">{{ _rol.nombre }}</option>
                    </ng-container>
                </select>
            </div> 
            <button type="submit" class="btn btn-primary btn-block" (click)='iniciarSesion(frol.value)'>Iniciar Sesión</button>
        </div>
    </div>
</div>
