<br>
<div class="container">
    <h1 class="panel-title-style text-center display-4">{{ accion }} Carrera</h1>
    <br>
    <div class="col-sm-12 col-md-12">
        <div [hidden]="!crear" class="form-group">
            <label>Código</label>
            <input #fcodigo type="number" class="form-control" id="exampleInputEmail1" placeholder="Código" value="{{ carrera$.codigo }}">
        </div>
        <div class="form-group">
            <label>Nombre</label>
            <input #fnombre type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre" value="{{ carrera$.nombre }}">
        </div> 
        <div class="form-group">
            <label>Descripción</label>
            <input #fdescripcion type="text" class="form-control" id="exampleInputEmail1" placeholder="Descripción" value="{{ carrera$.descripcion }}">
        </div> 
        <div class="form-group">
            <label for="exampleInputEmail1">Facultad</label>
            <select #fcodigof class="form-control" id="exampleFormControlSelect1">
                <ng-container *ngFor = 'let facultad of facultades$'>
                    <ng-container *ngIf = 'facultad.codigo == carrera$.codigof; else notSelected'>
                        <option value="{{ facultad.codigo }}" selected>{{ facultad.nombre }}</option>
                    </ng-container>
                    <ng-template #notSelected>
                            <option value="{{ facultad.codigo }}">{{ facultad.nombre }}</option>
                    </ng-template>
                </ng-container>
            </select>
        </div> 
    </div>
    <button type="submit" class="btn btn-primary btn-block" (click)='guardarCambios(fcodigo.value, fnombre.value, fdescripcion.value, fcodigof.value)'>{{ accion }} Carrera</button>
</div>